@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.5vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 30px;
    background-color: #f8f9fa;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item {
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: #333;
}

.nav-link:hover {
    color: #007bff;
}